# Files to ignore
.settings

# Python artifacts #
###################
*.pyc

# editor backup files
###################
*~

# document files
###################
docs/_build


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lo
*.la
*.Plo
.project
.pydevproject
a.out

# Coverage data
################
.coverage
htmlcov/

# python X10 is dowloaded from github and unmodified
python-x10

# GoIO
mytemp/mytemp
GoIO_SDK

# DigiWeight
DigiWeight/usbscale

# coolerUSB
coolerUSB/coolerUSB

# mashStirUSB
mashStirUSB/mashStirUSB

# boilerValve
boilerValve/boilerValve

# pololu Maestro USB cmd
UscCmd


# Docs
################
docs/appliances.rst
docs/cgibin.rst
docs/sensors.rst
docs/switches.rst
docs/hoplog.rst
docs/unerror.rst

