# Files to ignore
.settings
*.tmp
.idea
.vagrant
geckodriver.log

# Python artifacts #
###################
*.pyc
venv

# editor backup files
###################
*~

# document files
###################
docs/_build


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lo
*.la
*.Plo
.project
.pydevproject
a.out

# Coverage data
################
.coverage
htmlcov/
cover/

# DigiWeight
DigiWeight/usbscale

# coolerUSB
coolerUSB/coolerUSB

# mashStirUSB
mashStirUSB/mashStirUSB

# boilerValve
boilerValve/boilerValve

# airPumpUSB
ftdi/airPumpUSB/airPumpUSB

# pololu Maestro USB cmd
UscCmd


# Docs
################
docs/appliances.rst
docs/cgibin.rst
docs/sensors.rst
docs/switches.rst
docs/hoplog.rst
docs/unerror.rst
docs/bottleweb.rst
docs/runbottle.rst

