<html>
    <head>
      {% if title %}
      <title>{{ title }} - Hopitty</title>
      {% else %}
      <title>Welcome to Hopitty</title>
      {% endif %}
    </head>
    <body>
        <div>
            Hopitty:
            <a href="{{ top_uri }}index">Home</a>
            <a href="{{ top_uri }}cmd">Command</a>
            <a href="{{ top_uri }}status">Status</a>
            <a href="{{ top_uri }}list">Recipelist</a>
            <a href="{{ top_uri }}google/logout">Logout</a>
        </div>

        <hr>


        {% block content %}{% endblock %}
    </body>
</html>
