<html>
    <head>
      {% if title %}
      <title>{{ title }} - Hopitty</title>
      {% else %}
      <title>Welcome to Hopitty</title>
      {% endif %}
    </head>
    <body>
        <div>
            Hopitty: 
            <a href="/index">Home</a>
            <a href="/cmd">Command</a>
            <a href="/status">Status</a>
            <a href="/list">Recipelist</a>
            <a href="/load">Load</a>
            <a href="/google/logout">Logout</a>
        </div>
            
        <hr>


        {% block content %}{% endblock %}
    </body>
</html>