body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color:black;
    background-color: #fff;
}
a {
    color: blue;
}
h1 {
    color: #fff;
    background-color: #000;
    text-align: center;
}