{% extends "base.html" %}

{% block content %}
    <h1>Enter stages json</h1>
    <h3>Example</h3>
    <p>{{ stages_example }}</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.load.label }}<br>
            {{ form.load(size=32000) }}
            
            {% for error in form.load.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
